In [1]:
import pandas as pd
import numpy as np

# Создаем пример данных
data = {'Column1': np.random.rand(10),
        'Column2': np.random.randint(1, 100, 10),
        'Column3': np.random.choice(['A', 'B', 'C'], 10)}

df = pd.DataFrame(data)

# Создаем функцию форматирования для сжатия
def highlight_max(s):
    is_max = s == s.max()
    return ['font-weight: bold' if v else '' for v in is_max]

# Используем стилер для настройки визуализации
styled_df = df.style.apply(highlight_max)

# Отобразим таблицу
styled_df