In [1]:
import pandas as pd
df = pd.DataFrame()
df1 = pd.DataFrame(
    {
        'Courses': ["Spark","PySpark","Python","pandas"],
        'Fee' : [20000,25000,22000,24000]  
    }
)
df2 = pd.DataFrame(
    {
        'Courses': ["Pandas","Hadoop","Hyperion","Java"],
        'Fee': [25000,25200,24500,24900]  
    }
)
df3 = pd.DataFrame(
    {
        'Courses': ["Spark2"],
        'Fee' : [20000]  
    }
)
df4 = pd.DataFrame(
    {
        'Courses': ["Spark4"],
        'Fee' : [20],
        'tool': [400]  
    }
)

df_01 = pd.concat([df, df1, df2, df3, df4], ignore_index=True, sort=False)
print(df)
print(df_01)

Empty DataFrame
Columns: []
Index: []
    Courses    Fee   tool
0     Spark  20000    NaN
1   PySpark  25000    NaN
2    Python  22000    NaN
3    pandas  24000    NaN
4    Pandas  25000    NaN
5    Hadoop  25200    NaN
6  Hyperion  24500    NaN
7      Java  24900    NaN
8    Spark2  20000    NaN
9    Spark4     20  400.0

In [4]:
df = pd.DataFrame()
df1 = pd.DataFrame(
    {
        'Courses': ["Pandas","Hadoop","Hyperion","Java"],
        'Fee': [25000,25200,24500,24900]  
    }
)
df = pd.concat([df,df1], ignore_index=True, sort=False)
df

    Courses    Fee
0    Pandas  25000
1    Hadoop  25200
2  Hyperion  24500
3      Java  24900